@import '../app/globals.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1976d2;
    color: white;
}

.navbar-item {
    margin-right: 1rem;
}

.navbar-item button {
    color: white;
}

.navbar-item button:hover {
    background-color: #1565c0;
}
