
.add-user-btn {
    background-color: #eceff1;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
    cursor: pointer;
    transition: all .6s;
}

.add-user-btn:hover {
    background-color: #cfd8dc;
}

.form-add-user {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    border-top: 1px solid #d0d2d4;
}

.table-head * {
    background-color: #eceff1;
    font-weight: bold;
}