.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    padding: 1rem;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
}

.active-user {
    color: green;
    font-weight: bold;
}

.nonactive-user {
    color: red;
    font-weight: bold;
}

.btn-area-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: .3rem;
}

.search-result-null {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.table-head * {
    background-color: #eceff1;
    font-weight: bold;
}